@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply relative overflow-hidden bg-white rounded shadow-md;
}

.badge {
	@apply absolute top-0 p-1 pl-2 pr-2 mt-2 ml-2 text-xs font-bold uppercase rounded rounded-full bg-secondary-100 text-secondary-200;
}

.btn {
	@apply px-3 py-2 text-xs font-bold tracking-wider uppercase rounded-full cursor-pointer;
}